/* Hero image */

.hero-image {
  top: 0;
  z-index: -1;
  position: relative;
  width: 100%;
  height: 300px;
}

/* Main and Nav */

main {
  font-family: "Montserrat", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
}

.nav-link .fas {
  font-size: 1.5em;
  text-align: right;
}

.logo-text {
  font-family: "Special Elite", cursive;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

/* Hero Cards */

.card {
  opacity: 0.8;
  padding: 10px;
  font-family: "Special Elite", cursive;
  text-align: center;
  color: #fff;
  border: 20px #c07b43 round;
  border-radius: 5px;
}

.card-items {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/* Modal */

.modal {
  opacity: 0.8;
  font-family: "Special Elite", cursive;
  text-align: center;
  color: #000;
  background-color: #424242;
  font-size: 1.2em;
  border: 50px #c07b43 round;
  border-radius: 5px;
}

/* Large screens */
@media only screen and (min-width: 600px) {
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .link-text {
    visibility: none;
  }

  .nav-link .fas {
    font-size: 2em;
  }
}
