/* General and Nav */

* {
  font-family: "Montserrat", sans-serif;
}

nav {
  font-family: "Special Elite", cursive;
}

/* Background image and parallax effect */

.slider {
    margin-top: 50px;
}

/* Hero Cards */

.card {
  font-family: "Special Elite", cursive;
}

/* Modal */

.modal {
  font-family: "Special Elite", cursive;
}

/* Large screens */
@media screen and (min-width: 600px) {
}

/* Small screens */
@media screen and (max-width: 600px) {
}
