/* General and Nav */

html,
body {
  font-family: "Special Elite", cursive;
  margin: 0;
  padding: 0;
}

nav ul li a,
nav .brand-logo {
  font-family: "Special Elite", cursive;
}

.brand-logo {
  margin-left: 20px;
}

.brand-logo i {
  display: inline-block;
  margin: 10px;
  font-size: 1.5em;
}

/* Slider Section */

.caption1 {
  font-family: "Grenze Gotisch", cursive;
  font-weight: bold;
  text-shadow: 3px 3px #aaa;
}

.caption2 {
  font-family: "Grenze Gotisch", cursive;
  text-shadow: 1px 1px #aaa;
}

.divider {
  height: 100px;
  width: 100vw;
  background: linear-gradient(to right, #90a4ae, #fff, #90a4ae);
}

.divider h1 {
  display: block;
  margin: 0 auto;
}

.adv-divider {
  color: #fff;
  margin: 20px 10px;
}

/* Hero Cards */

.card {
  font-family: "Oswald", sans-serif;
  margin: 20px;
}

.card-items h6 {
  display: block;
  text-align: left;
  margin-left: 10px;
}

/* Modal */

.modal {
  font-family: "Oswald", sans-serif;
}

/* Large screens */
@media screen and (min-width: 600px) {
}

/* Small screens */
@media screen and (max-width: 600px) {
  .brand-logo {
    margin-right: 20px;
  }
}
