body {
    font-family: 'Open Sans';
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: #33333a;
    transition: width 0.5s ease;
    overflow: scroll;
}

a {
    color:#c07b43;
    text-decoration:none;
    cursor:pointer;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color:#c07b43;
    text-decoration:none;
    cursor:pointer;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.nav-item {
    width: 100%;
    background-color: inherit;
    transition: all 0.5s ease-in-out;
}

.nav-item:hover {
    background-color: #1c1c2c;
}

.nav-item .nav-link .fas {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 2em;
    color: #c07b43;
    transition: all 0.5s ease-in-out;
}

.nav-item:hover .nav-link .fas {
    color: #c07b43;
}

.navbar .navbar-nav .logo .nav-link .chevrons {
    margin: 15px;
    font-size: 2em;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.navbar:hover .navbar-nav .logo .nav-link .chevrons {
    transform: rotate(-180deg);
    margin-left: 12.5rem;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.logo {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #1c1c2c;
}

.logo-text {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: inline;
    position: absolute;
    left: -999px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}