{% extends 'base.html' %} {% block content %}
<h3>Add Hero</h3>
<div class="row">
	<form action="{{ url_for('insert_hero') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-chess-rook"></i>
				<select id="adventure" name="adventure_name">
                  {% for mission in adventures %}
                      <option id="{{mission.adventure_name}}" value="{{mission.adventure_name}}">{{mission.adventure_name}}</option>
                  {% endfor %}
                </select>
				<label for="adventure_name">Hero Adventure</label>
			</div>

		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-arrow-circle-right"></i>
				<input id="hero_name" name="hero_name" type="text"/>
				<label for="icon_prefix">Hero Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-arrow-circle-right"></i>
				<input id="weapon" name="weapon" type="text"/>
				<label for="icon_telephone">Hero weapon</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-arrow-circle-right"></i>
				<input id="armor" name="armor" type="text"/>
				<label for="icon_prefix">Hero armor</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-arrow-circle-right"></i>
				<input id="race" name="race" type="text"/>
				<label for="icon_prefix">Hero race</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-arrow-circle-right"></i>
				<input id="profession" name="profession" type="text"/>
				<label for="icon_prefix">Hero profession</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-arrow-circle-right"></i>
				<input id="mount" name="mount" type="text"/>
				<label for="icon_prefix">Hero mount</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-arrow-circle-right"></i>
				<input id="home" name="home" type="text"/>
				<label for="icon_prefix">Hero home</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-arrow-circle-right"></i>
				<textarea name="possessions" id="possessions" class="materialize-textarea"></textarea>
				<label for="icon_telephone">Hero possessions</label>
			</div>
		</div>
	</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}