{% extends 'base.html'%} {% block content %}

<div class="row">
	<h3>Adventures</h3>
	<ul class="collapsible" data-collapsible="accordion">
		{% for adv in adventures %}
		<li>
			<div class="collapsible-header">
				<a href="" class="waves-effect waves-light btn btn_small">Del</a>
				<a href="{{url_for('edit_adventure', adventures_id=adventures._id)}}" class="waves-effect btn btn_small blue">Edit</a>
				<div class="task_header">
					<strong>{{adv.adventure_name}}</strong>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}