<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Fontawesome Icons -->
	<script src="https://kit.fontawesome.com/00644b551d.js" crossorigin="anonymous"></script>
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Special+Elite&display=swap" rel="stylesheet">
	<!-- Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<!-- My own CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
    <!-- My shortcut icon -->
	<link rel="shortcut icon" type="image/jpg" href="{{url_for('static', filename='images/favicon.ico')}}" />
	<link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
	<header>
		<nav class="nav-wrapper navbar">
			<a href="{{url_for('get_heroes')}}" class="brand-logo left">
				<span class="logo-text dark-text">Hero Constructor</span>
			</a>
			<ul id="nav-mobile" class="right">
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('get_heroes')}}">
						<span class="link-text">Home</span>
						<i class="fas fa-home"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('add_hero')}}">
						<span class="link-text">Create New Hero</span>
						<i class="fas fa-pencil-alt"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('get_adventure')}}">
						<span class="link-text">Check Adventures</span>
						<i class="fas fa-pencil-alt"></i>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	
	<div class="container-fluid">
		{% block content %} {% endblock %}
	</div>
	<!-- jQuery CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" async></script>
	<!-- My Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
	<!-- Materialize js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>

</html>