<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Fontawesome Icons Font -->
	<script src="https://kit.fontawesome.com/00644b551d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Special+Elite&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" />
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
	<header>
		<nav class="navbar">
			<ul class="navbar-nav">
				<li class="logo">
					<a href="{{url_for('get_heroes')}}" class="nav-link">
						<i class="fas fa-angle-double-right chevrons"></i>
						<span class="link-text logo-text">Adventurers</span>
					</a>
				</li>

				<li class="nav-item">
					<a href="{{url_for('add_hero')}}" class="nav-link">
						<i class="fas fa-pencil-alt"></i>
						<span class="link-text">Create</span>
					</a>
				</li>

				<li class="nav-item">
					<a href="{{url_for('get_heroes')}}" class="nav-link">
						<i class="far fa-eye"></i>
						<span class="link-text">Read</span>
					</a>
				</li>

				<li class="nav-item">
					<a href="{{url_for('edit_hero', hero_id=heroes._id)}}" class="nav-link">
						<i class="far fa-edit"></i>
						<span class="link-text">Update</span>
					</a>
				</li>

				<li class="nav-item">
					<a href="{{url_for('delete_hero', hero_id=heroes._id)}}" class="nav-link">
						<i class="far fa-trash-alt"></i>
						<span class="link-text">Delete</span>
					</a>
				</li>
			</ul>
		</nav>
	</header>

	<img src="static/images/adventurer_team.jpg" alt="Group of Heroes" class="responsive-img hero-image"/>

	<div class="container">
		{% block content %} {% endblock %}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
        $(".collapsible").collapsible();
        $("select").material_select();
        $(".button-collapse").sideNav();
      });



	</script>

</body>

</html>