{% extends 'base.html'%} {% block content %}

<h3>Edit Task</h3>
<div class="row">
	<form action="{{ url_for('update_hero', hero_id=heroes._id) }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-chess-rook"></i>
				<select id="adventures" name="adventure_name">
                  <option value="" disabled selected>Choose Adventure</option>
                  {% for mission in adventures %}
                      {% if mission.adventure_name == hero.adventure_name %}
                      <option value="{{mission.adventure_name}}" selected >{{mission.adventure_name}}</option>
                      {% else %}
                       <option value="{{mission.adventure_name}}">{{mission.adventure_name}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
				<label>Hero Adventure</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-chess-rook"></i>
				<input id="adventure_name" name="adventure_name" type="text" class="validate" value="{{heroes.hero_name}}">
				<label for="icon_prefix">Hero Adventure</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-pen"></i>
				<input id="hero_name" name="hero_name" type="text" class="validate" value="{{hero.hero_name}}">
				<label for="icon_prefix">Hero Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-fist-raised"></i>
				<input name="weapon" id="weapon" type="text" class="validate" value="{{hero.weapon}}">
				<label for="icon_telephone">Hero weapon</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-shield-alt"></i>
				<input name="armor" id="armor" type="text" class="validate" value="{{hero.armor}}">
				<label for="icon_telephone">Hero armor</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-user"></i>
				<input name="race" id="race" type="text" class="validate" value="{{hero.race}}">
				<label for="icon_telephone">Hero race</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-hand-holding"></i>
				<input name="profession" id="profession" type="text" class="validate" value="{{hero.profession}}">
				<label for="icon_telephone">Hero profession</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-home"></i>
				<input name="home" id="home" type="text" class="validate" value="{{hero.home}}">
				<label for="icon_telephone">Hero home</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-horse"></i>
				<input name="mount" id="mount" type="text" class="validate" value="{{hero.mount}}">
				<label for="icon_telephone">Hero mount</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-shopping-bag"></i>
				<textarea name="possessions" id="possessions" class="materialize-textarea">{{hero.possessions}}</textarea>
				<label for="icon_telephone">Hero Possessions</label>
			</div>
		</div>
		<div class="row">
			<button class="btn waves-effect" type="submit" name="action">Submit Hero
                <i class="fas fa-edit"></i>
             </button>
		</div>
	</form>
</div>

{% endblock %}